@use "./global" as *;

.mainContainer {
    margin: 0 0;    
    width: 100%;
    @include bgBlanco-patron-dots;
}

.DescripcionJena {
    
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
    width: 100%;

    .Descripcion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include cajasTextoOpaco;

        h1 {
            align-items: center;
            justify-items: center;
            padding:2.5rem 2.5rem;
        }

        p {
            font-size: 2.3rem;
            padding:2.5rem 2.5rem;
        }
    }
    
    .DescripCollage {

        img {
            width: 100%; 
            //height: 100%;
        }
    }

    
}


.newProductsContainer {
    margin-top: 0;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;

   

    * {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
   

    .muestras {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .muestrasVideos
        .muestrasFotos {
            display: flex;
            justify-content:center;
            align-items: center;
            gap:1rem;
        }
    }
    
}

