
.mainContainer {
    margin: 0 0;
    //height: 5rem;
    width: 100%;
}

.newProductsContainer {
    margin-top: 0;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #00ffff;
    width: 100%;

    * {
        margin-top: 2rem;
    }
    
    h1 {
        font-size: 3rem;
        font-weight: 800;
    }

    .muestras {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .muestrasVideos
        .muestrasFotos {
            display: flex;
            justify-content:center;
            align-items: center;
            gap:1rem;
        }
    }
    
}

